<h1>New Article</h1>

<%= form_for(@crashlog, url:{action: "create",html: {id: :form_id }},   :authenticity_token => true,remote: true,multipart: true) do |f| %>  
  <%= f.label :name %><br/>
  <%= f.file_field :log %>
  <%= f.submit ("Submit") %>
<% end %>
<div id="new_article"></div>

<script>
$(document).ready(function(){
  $("#new_crashlog").on("ajax:success", function(e, data, status, xhr){
    $("#new_article").append(xhr.responseText)
}).on("ajax:error", function(e, xhr, status, error){
    $("#new_article").append("<p>ERROR</p>")
})})
</script>